
<section id="mainContent">
    <div class="grid">
      <div class="grid-sizer col-xs-12 col-sm-6 col-md-6 col-lg-4"></div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <!-- add inner element for column content -->
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <h3><i class="fa fa-book" aria-hidden="true"></i>BIBLIOTECA</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar al servicio</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdPortales">
            <div class="mdHead">
                <h3><i class="fa fa-suitcase" aria-hidden="true"></i>BOLSA DE EMPLEO</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar a la plataforma</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
                <div class="itemService contentMod">
                    <p>Oferta 1</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
                <div class="itemService contentMod">
                    <p>Oferta 1</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
                <div class="itemService contentMod">
                    <p>Oferta 1</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdSolicitud">
            <div class="mdHead">
                <h3><i class="fa fa-list" aria-hidden="true"></i>FORMULARIO DE SOLICITUDES</h3>
            </div>
            <div class="mdBody">
                <div class="itemService contentMod">
                    <p>Nombre servicio 1</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
                <div class="itemService contentMod">
                    <p>Nombre servicio 2</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
                <div class="itemService contentMod">
                    <p>Nombre servicio 3</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdPagos">
            <div class="mdHead">
                <h3><i class="fa fa-percent" aria-hidden="true"></i>HISTÓRICO/PROMEDIOS</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar al servicio</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <h3><i class="fa fa-calendar" aria-hidden="true"></i>CALENDARIO ACADÉMICO</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar al servicio</a>
            </div>
            <div class="mdBody">
                <div class="itemService contentMod">
                    <p><span class="cifra">12</span>Eventos este mes</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdPortales">
            <div class="mdHead">
                <h3><i class="fa fa-envelope" aria-hidden="true"></i>MENSAJERÍA</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar a tu correo</a>
            </div>
            <div class="mdBody">
                <div class="itemService contentMod">
                    <p><span class="cifra">5</span>Correos Nuevos</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
                <div class="itemService contentMod">
                    <p><span class="cifra">2</span>Correos no leídos</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <h3><i class="fa fa-ban" aria-hidden="true"></i>BLOQUEOS</h3>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <h3><i class="fa fa-file-text-o" aria-hidden="true"></i>CALIFICACIONES PERIODO EN CURSO</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar al servicio</a>
            </div>
            <div class="mdBody">
                <div class="itemService contentMod">
                    <p><span class="cifra">8</span>Nombre materia</p>
                </div>
                <div class="itemService contentMod">
                    <p><span class="cifra">6</span>Nombre materia</p>
                </div>
                <div class="itemService contentMod">
                    <p><span class="cifra">7</span>Nombre materia</p>
                </div>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <h3><i class="fa fa-user" aria-hidden="true"></i>CONSULTA DE CUENTA</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar al servicio</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdPortales">
            <div class="mdHead">
                <h3><i class="fa fa-sign-in" aria-hidden="true"></i>INGRESO A LMS</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar a la plataforma</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <h3><i class="fa fa-dollar" aria-hidden="true"></i>PAGO EN LÍNEA - OTROS SERVICIOS</h3>
                <a href="#" class="btnAccionPrimaria">Pagar en línea</a>
            </div>
            <div class="mdBody">
                <div class="itemService contentMod">
                    <p>Nombre servicio 1</p>                                    
                </div>
                <div class="itemService contentMod">
                    <p>Nombre servicio 2</p>
                </div>
                <div class="itemService contentMod">
                    <p>Nombre servicio 3</p>                                    
                </div>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdPagos">
            <div class="mdHead">
                <h3><i class="fa fa-clock-o" aria-hidden="true"></i>HORARIOS Y AULAS DE CLASE</h3>
                <a href="#" class="btnAccionPrimaria">Ingresar al servicio</a>
            </div>
            <div class="mdBody">
                <div class="itemService contentMod">
                    <div class="horClase">
                        <span class="cifra">12:00</span><div><p class="nameClase">Nombre de clase</p><p>Lunes Martes</p></div>
                    </div>
                </div>
                <div class="itemService contentMod">
                    <div class="horClase">
                        <span class="cifra">14:00</span><div><p class="nameClase">Nombre de clase</p><p>Lunes Martes</p></div>
                    </div>
                </div>
                <div class="itemService contentMod">
                    <div class="horClase">
                        <span class="cifra">19:00</span><div><p class="nameClase">Nombre de clase</p><p>Lunes Martes</p></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <h3><i class="fa fa-dollar" aria-hidden="true"></i>PAGO EN LÍNEA MATRÍCULA</h3>
                <a href="#" class="btnAccionPrimaria">Pagar en línea</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdSedes">
            <div class="mdHead">
                <h3><i class="fa fa-map-marker" aria-hidden="true"></i>SEDES</h3>
                <a href="#" class="btnAccionPrimaria">Ver Sedes</a>
            </div>
            <div class="mdBody">
                <p class="contentMod">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quisquam debitis deserunt totam. Impedit numquam cumque sint.</p>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdPortales">
            <div class="mdHead">
                <h3><i class="fa fa-cubes" aria-hidden="true"></i>SERVICIOS ILUMNO</h3>
            </div>
            <div class="mdBody">
                <div class="itemService contentMod">
                    <p>Nombre servicio 1</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
                <div class="itemService contentMod">
                    <p>Nombre servicio 2</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
                <div class="itemService contentMod">
                    <p>Nombre servicio 3</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
                <div class="itemService contentMod">
                    <p>Nombre servicio 4</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
            </div>
        </div>
      </div>
      <div class="grid-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="moduleDashboard mdConsulta">
            <div class="mdHead">
                <h3><i class="fa fa-handshake-o" aria-hidden="true"></i>REGLAMENTOS</h3>
            </div>
            <div class="mdBody">
                <div class="itemService contentMod">
                    <p>Nombre del Reglamento 1</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
                <div class="itemService contentMod">
                    <p>Nombre del Reglamento 2</p>
                    <a href="#" class="btnAccionSecundaria">
                        Acción Secundaria
                    </a>
                </div>
           </div>
        </div>
      </div>
    </div>
</section>

