<div class="row boxFooter">
  <footer class="col-xs-12">
      <div class="row">
          <div class="col-sm-3 BoxLogoFooter">
              <div class="logo-footer">
                  <a href="" target="_blank" title="Ilumno"><img src="./assets/img/logo_footer.png" id="logoFooter" alt="Ilumno"></a>
              </div>
          </div>

          <div class="col-sm-9 boxContacto">

            <div class="sedesContacto" *ngIf="user.university != '0'">
                <ul class="list-inline" *ngIf="user.university == '1'">
                    <li>Línea Gratuita Nacional <span><i class="fa fa-phone" aria-hidden="true"></i>01800 180099</span> </li>
                    <li>Sede uno <span><i class="fa fa-phone" aria-hidden="true"></i>(57+1) 3213213</span> </li>
                    <li>Sede dos <span><i class="fa fa-phone" aria-hidden="true"></i>(57+1) 3213213</span> </li>
                    <li>Sede tres<span><i class="fa fa-phone" aria-hidden="true"></i>(57+1) 3213213</span> </li>
                </ul>
                <ul class="list-inline" *ngIf="user.university == '2'">
                    <li>Sede uno <span><i class="fa fa-phone" aria-hidden="true"></i>(57+1) 3213213</span> </li>
                    <li>Sede dos <span><i class="fa fa-phone" aria-hidden="true"></i>(57+1) 3213213</span> </li>
                </ul>
            </div>

              <div class="boxRedes" *ngIf="redes" >
                  <p>Síguenos</p>
                  <ul class="redes list-inline">
                      <a href="#" target="_blank">
                          <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                      </a>
                      <a href="#" target="_blank">
                          <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                      </a>
                      <a href="#" target="_blank">
                          <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                      </a>
                      <a href="#" target="_blank">
                          <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                      </a>
                  </ul>
              </div>
          </div>
      </div>
  </footer>
</div>