<section id="mainContent">
  <div class="row">
      <div class="col-sm-6">
          <div class="moduleInternas" id="menciones">
              <div class="mdInHead">
                  <i class="fa fa-trophy" aria-hidden="true"></i>
                  <h3>Menciones <span class="subtitleMd">distinciones recibidas por tu rendimiento académico.</span></h3>
              </div>
              <div class="mdInBody">
                  <a data-toggle="modal" href="#modal-infoAdc">
                      <div class="itemMd">
                          <i class="fa fa-trophy" aria-hidden="true"></i>
                          <p>Título mención 1</p>
                      </div>
                  </a>
                  <a data-toggle="modal" href="#modal-infoAdc">
                      <div class="itemMd">
                          <i class="fa fa-trophy" aria-hidden="true"></i>
                          <p>Título mención 2</p>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="moduleInternas" id="sanciones">
              <div class="mdInHead">
                  <i class="fa fa-warning" aria-hidden="true"></i>
                  <h3>Sanciones <span class="subtitleMd">Sanciones recibidas, pueden ser Académicas o Disciplinarias.</span></h3>
              </div>
              <div class="mdInBody">
                  <a data-toggle="modal" href="#modal-infoAdc">
                      <div class="itemMd">
                          <i class="fa fa-warning" aria-hidden="true"></i>
                          <p>Título sanción 1</p>
                      </div>
                  </a>
                  <a data-toggle="modal" href="#modal-infoAdc">
                      <div class="itemMd">
                          <i class="fa fa-warning" aria-hidden="true"></i>
                          <p>Título sanción 2</p>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
