
<div class="container">
    
<div class="form-group" *ngIf="!logued">
    <label for=""></label>
    <select class="form-control" name="" id="" (change)="login($event.target.value)">
      <option value="0">Seleccione Usuario</option>
      <option value="">Administrador Ilumno</option>
      <option value="AA" >Administrador Areandina</option>
      <option value="Poli">Administrador Politécnico</option>
    </select>
  </div>
</div>
<div *ngIf="logued">
    <app-header></app-header>
    <app-menu></app-menu>
    <!-- <app-administracion></app-administracion> -->
    <!-- <app-estudiante></app-estudiante> -->
    <router-outlet></router-outlet>
</div>


<!-- <app-footer></app-footer> -->


